.container {
  border: 1px solid black;
}

.row {
  width: 100%;
}

.col-md-3 {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

.images {
  width: 80%;
  height: 230px;
  border: 5px solid rgb(83, 70, 70);
  border-radius: 90%;
  transition: transform 1.5s;
  cursor: pointer;
}

.first-in-row img {
  border: 5px solid red;
}

.images:hover {
  border: 5px solid yellow;
  transform: rotate(45deg);
}
